<launch>
  <!-- Set the path to your rosbag file -->
  <!-- <arg name="bagfile" default="$(find perception)/block_detector/data/franka.bag"/> -->

  <!-- Launch the rosbag node -->
    <!-- <node name="rosbag" pkg="rosbag" type="play" args="$(arg bagfile)">
    </node> -->

  <group ns="instance_segmentor">
      <rosparam file="$(find block_detector)/config/instance_segmentation_params.yaml" />
  </group>
    <!-- launch realsense2_camera with pointcloud -->
  <!-- <include file="$(find block_detector)/launch/realsense.launch">
  </include> -->

  <!-- Launch the rec_data node -->
  <node name="block_segmenter" pkg="block_detector" type="block_segmenter.py" output="screen">
  </node>

  <!-- read static tf params from config -->
  <!-- <node name="easy_tf_publisher" pkg="block_detector" type="easy_tf_publisher.py" output="screen"> </node> -->
 
    
</launch>