<launch>
  <!-- Set the path to your rosbag file -->
  <!-- <arg name="bagfile" default="$(find perception)/block_detector/data/franka.bag"/> -->

  <!-- Launch the rosbag node -->
    <!-- <node name="rosbag" pkg="rosbag" type="play" args="$(arg bagfile)">
    </node> -->

  <group ns="ransac">
      <rosparam file="$(find block_detector)/config/ransac_params.yaml" />
  </group>

  <!-- Launch the rec_data node -->
    <!-- <node name="rec_data" pkg="block_detector" type="rec_data_main.py" output="screen"> -->
    <!-- </node> -->
  <!-- Static tf node -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="static_transform_publisher" args="
    0.7043071  -0.12830193  0.91034981
    0.99875195  0.01069694 -0.04307051  0.02280824
    /panda_link0 /camera_base" />
</launch>