<launch>
  <!-- Set the path to your rosbag file -->
  <!-- <arg name="bagfile" default="$(find perception)/block_detector/data/franka.bag"/> -->

  <!-- Launch the rosbag node -->
    <!-- <node name="rosbag" pkg="rosbag" type="play" args="$(arg bagfile)">
    </node> -->

  <group ns="ransac">
      <rosparam file="$(find block_detector)/config/ransac_params.yaml" />
  </group>
    <!-- launch realsense2_camera with pointcloud -->
  <include file="$(find realsense2_camera)/launch/rs_camera.launch">
      <arg name="enable_pointcloud" value="true"/>
  </include>

  <!-- Launch the rec_data node -->
    <!-- <node name="rec_data" pkg="block_detector" type="rec_data_main.py" output="screen"> -->
    <!-- </node> -->
  <!-- read static tf params from config -->
    <node name="rec_data" pkg="block_detector" type="easy_tf_publisher.py" output="screen"> </node>
 
    
</launch>