<launch>
  <!-- Launch the RealSense camera node with pointcloud enabled and maximum resolution -->
  <include file="$(find realsense2_camera)/launch/rs_camera.launch">
    <!-- Set the desired camera mode (e.g., depth, RGB, etc.) -->
    <arg name="enable_depth" value="true" />
    <arg name="enable_color" value="true" />
    <!-- Set the camera frame rate and resolution -->
    <arg name="depth_fps" value="30" />
    <arg name="color_fps" value="30" />
    <arg name="color_width" value="1920" />
    <arg name="color_height" value="1080" />
    <!-- align depth -->
    <arg name="align_depth" value="true" />

    <!-- Enable the pointcloud option -->
    <arg name="enable_pointcloud" value="true" />
  </include>

  
</launch>